



  <section class="hero is-fullheight is-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-4 is-offset-4">
              <h1 class="title">
                Content
              </h1>
              <div class="box">

                  <%= form_for curriculum, html: { multipart: true } do |f| %>
                  <% if curriculum.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(curriculum.errors.count, "error") %> prohibited this curriculum from being saved:</h2>

                      <ul>
                      <% curriculum.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                <div class="label">
                  <%= f.label :title %>
                  <%= f.text_field :title, class: 'input'  %>
                </div>

                <div class="label">
                <%= f.label :grade %>
                <%= f.select :grade, ['Grade 7', 'Grade 8', 'Grade 9', 'Grade 10'], class: 'input'  %>
                </div>

                <div class="label">
                <%= f.label :subject %>
                <%= f.select :subject, ['Agriculture & Food Technology','Digital Technology'], class: 'input'  %>
                </div>

                <div class="label">
                  <%= f.label :content %>
                  <%= f.text_area :content, class: 'input'  %>
                </div>

                <div class="label">
                  <%= f.label :files %>
                  <%= f.file_field :files, multiple: true, class: 'input' %>
                </div>

                <div class="control">
                  <%= f.submit "Create Curriculum", class: "button is-info"%>
              </div>
              <%= link_to 'Back', curriculums_path %>
              </p>
            </div>
          </div>
        </div>
      </div>

    </section>

<% end %>
