<div class="container">
  <p id="notice"><%= notice %></p>
  <br><br>
  <h1 class="title"><%= @curriculum.title %></h1>
  <p class="subtitle">Author: <strong><%= @curriculum.user.email %></strong></p>
  <p class="subtitle"><%= rating_for @curriculum, 'rating', enable_half: true, disable_after_rate: true %>
    <strong>Grade:</strong>
    <%= @curriculum.grade %>
    <br>
    <strong>Subject:</strong>
    <%= @curriculum.subject %>
  </p>
  <br><br>

  <h3 class="title is-4">Outcomes:</h3>
  <figure class="highlight" style="box-shadow: none;"><pre><code class="language-html" data-lang="html">
    <% if @curriculum.subject == 'Agriculture & Food Technology' %>
    <%= render 'partials/AFT' %>
    <% elsif @curriculum.subject == 'Digital Technology' %>
    <%= render 'partials/TM' %>
    <% end %>
  </code></figure>

  <h2 class="title">Content</h2>
  <h4 class="subtitle"><%= @curriculum.content %></h4>
  <p>
    <div class="has-text-right">
    </p>
    <div class="columns is-multiline">

      <% @curriculum.files.each do |file| %>
      <div class="column is-4">
        <div class="card">
          <div class="card-content has-text-centered">
            <p><a href="<%= asset_path file.url %>" download><i class="fa fa-file-o" aria-hidden="true"></i> <br><%= file.file.filename %></a></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

    <p>
      <% if current_user == @curriculum.user || current_user.has_role?(:admin) %>
      <%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
      <% end %>
      <%= link_to 'Back', curriculums_path %>
    </p>
  </div>
  <br><br>
  <div class="columns">
    <div class="column is-offset-3 is-6">

      <%= render 'comments/form', comment: @comment %>
      <p>
        <% @comments.reverse.each do |comment| %>
        <article class="message is-info">
          <div class="message-body">
            <%= link_to comment.user.email, '' %> <%= comment.created_at %>
            <br>
            <%= comment.content %>
            <br>
          </div>
        </article>
        <% end %>
      </p>
    </div>
  </div>
</div>
