<p id="notice"><%= notice %></p>

<%= image_tag @curriculum.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @curriculum.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @curriculum.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @curriculum.user.email %>
</p>

<p>
  <p>Number of attachments: <%=@curriculum.files.count%></p>

  <% @curriculum.files.each do |file| %>
    <p>
      <%= file.file.identifier %><br>
      <a href="<%= asset_path file.url %>" download>Download</a>
    </p>
  <% end %>
</p>
<p>
  <%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
  <%= link_to 'Back', curriculums_path %>
</p>
