<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
        <%= link_to image_tag("http://i.imgur.com/QJvxqa5.png"), root_path, class: "nav-item is-brand"%>
      <%= link_to 'Curriculum', curriculums_path, class: "nav-item is-tab is-hidden-mobile" %>
      <%= link_to 'Contact', contact_path, class: "nav-item is-tab is-hidden-mobile" %>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
        <% if user_signed_in? %>
        <% if current_user.has_role?(:admin) %>
        <%= link_to 'Admin Dashboard', pages_admindashboard_path, class: "nav-item is-tab is-hidden-mobile" %>
        <% end %>
        <% end %>
      <%= link_to 'Profile', edit_user_registration_path, class: "nav-item is-tab is-hidden-mobile" %></a>
      <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "nav-item is-tab") %>
      <% else %>
      <%= link_to('Login', new_user_session_path, class: "nav-item is-tab") %>
      <% end %>
    </div>
  </div>
</nav>
