<% @users.each do |u| %>
<div class="">
  <%= u.email %>

</div>
<% end %>

<div class="hero-foot">
  <nav class="level">
    <div class="level-item has-text-centered">
      <p class="heading">Users</p>
      <p class="title"><%= @users.count %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Schools</p>
      <p class="title"><%= @schools.count %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Curriculums</p>
      <p class="title"><%= @curriculums.count %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Comments</p>
      <p class="title"><%= @comments.count %></p>
    </div>

  </nav>
</div>
