
<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 is-offset-4">
            <h1 class="title">
              Create a School
            </h1>
            <div class="box">

              <%= form_for(school) do |f| %>
              <% if school.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

                  <ul>
                  <% school.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
                <div class="label">
                  <%= f.label :image %>
                  <%= f.file_field :image, class: 'input' %>
                </div>

                <div class="label">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'input' %>
                </div>

                <div class="label">
                  <%= f.label :location %>
                  <%= f.text_field :location, class: 'input' %>
                </div>

                <div class="label">
                  <%= f.label :description %>
                  <%= f.text_field :description, class: 'input' %>
                </div>
                
                <div class="label">
                  <%= f.label "Grades taught:" %>
                  <br>
                  From <%= f.select :grade_low, ['K', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], class: 'input' %> to <%= f.select :grade_high, ['K', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], class: 'input' %>
                </div>

              <div class="control">
                <%= f.submit "Create School", class: "button is-primary" %>
              </div>
              <%= link_to 'Back', schools_path %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <% end %>
