


<%= form_for :contact do |f| %>
<section class="hero is-fullheight is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-4">
          <h1 class="title">
            Contact Us
          </h1>
          <div class="box">

            <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
            <% elsif flash[:warning] %>
            <div class="alert alert-danger"><%= flash[:warning] %></div>
            <% else %>
            <% end %>

            <div class="label">
              <%= f.label :email, "Your Email" %><br />
              <%= f.email_field :email, autofocus: true, class: "input" %>
            </div>

            <div class="label">
            <%= f.label :message %><br />
            <%= f.text_area :message, autocomplete: "off", class: "input contact"%>
          </div>

            <div class="control">
              <%= f.submit "Send", class: "button is-primary" %>
            </div>
          </div>

          <p class="has-text-centered">

          </p>
        </div>
      </div>
    </div>
  </div>

</section>
<% end %>
